:root {
    width: 100vw;
    height: 100vh;
}

/* Skeleton */

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}

.container-img, .login-container {
    display: flex;
    align-items: center;
}

.container-img {
    justify-content: flex-end;
}

.login-container {
    justify-content: center;
}

/* Container */

.container-img img {
    height: 250px;
}

/* Form */

.login-form {
    padding-right: 50%;
    width: 50%;
}

.login-form h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 15px 0;
    margin-bottom: 3rem;
    color: #fff;
}

.login-form__input {
    width: 100%;
    min-height: 50px;
    margin-bottom: .5rem;
}

.login-form__button {
    background-color: #FF171F !important;
    color: #fff !important;
}

.register-button {
    margin-left: 1rem;
}

/* Responsive */
@media screen and (max-width: 1050px) {
    .container {
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    .login-form {
        width: 290px;
    }

    .login-form h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }

    .img img {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .container-img {
        display: none;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .login-container {
        justify-content: center;
    }
}

@media screen and (max-width: 375px) {
    .container {
        padding: 0 1rem;
    }
}