<h1>Listado de Héroes</h1>
<mat-divider></mat-divider>
<br>
<mat-form-field class="login-form__input" appearance="fill" style="width: 100%;">
    <mat-label>Buscar un heroe</mat-label>
    <input matInput (keyup.enter)="buscarHeroe(inputBuscarHeroe.value)" #inputBuscarHeroe>
    <button mat-icon-button matSuffix [attr.aria-label]="'Heroe'" (click)="buscarHeroe(inputBuscarHeroe.value)">
        <mat-icon>search</mat-icon>
    </button>
</mat-form-field>
<br>

<div class="list-cards">
    <div class="card-container" *ngFor="let heroe of heroes">
        <!-- Tarjeta para mostrar heroes -->
        <app-heroe-card class="card" [heroe]="heroe" [isMyList]="true" (onAddHeroeToList)="addHeroeToMyList($event)"></app-heroe-card>
    </div>
</div>

